{% extends 'shared/layout.html' %}

{% block title %}
    تماس با ما
{% endblock %}

{% block content %}
    <!-- Main Start -->
    <main class="main about-us-page">
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
          <div class="banner">
            <img class="bg-img bg-top" src="/static/images/inner-page/banner-p.jpg" alt="banner" />
            <div class="container-lg">
              <div class="breadcrumb-box">
                <div class="heading-box">
                  <h1>درباره ما</h1>
                </div>
                <ol class="breadcrumb">
                  <li><a href="{% url 'home_page' %}">خانه</a></li>
                  <li>
                    <a href="javascript:void(0)"><i data-feather="chevron-right"></i></a>
                  </li>
                  <li class="current"><a href="#">درباره ما</a></li>
                </ol>
              </div>
            </div>
          </div>
        </div>
        <!-- Breadcrumb End -->
  
        <!-- About Us Section Start -->
        <section class="about-section">
          <div class="container-lg">
            <div class="row g-0 g-lg-4 g-xl-5">
              <div class="col-lg-7 order-2 order-lg-1">
                <div class="align-ment">
                  <div class="contenten-wrap">
                    <div class="content-box">
                      <h5>اسلو بهترین خرید در بازار است</h5>
                      <h4>ما جدیدترین سبک، نوآوری و خلاقیت منحصر به فرد را ارائه می دهیم</h4>
  
                      <p>
                        تسمه‌های اسپاگتی پارچه‌ای چند ترکیبی با ویسکوز سبز زرد با کشش و کشش هوشمند، مناسب است. پرفروش‌ترین جیب‌های برش دور کمر، پنبه-مخلوط آبی سرمه‌ای خیاطی زیبا
                        ترمه بافت تک رنگ آستین کوتاه بدون زحمت گلدار با یقه چوگان گاه به گاه. تسمه های اسپاگتی پارچه ای چند آمیخته با ویسکوز با کشش غنی سبز زرد
                        تناسب بینایی
                      </p>
                    </div>
                    <div class="row g-3 g-lg-2 g-xl-3 widget-list">
                      <div class="col-6 col-sm-4">
                        <div class="widget">
                          <span><i data-feather="users"></i></span>
  
                          <div>
                            <h6>328M</h6>
                            <p>ثبت نام</p>
                          </div>
                        </div>
                      </div>
  
                      <div class="col-6 col-sm-4">
                        <div class="widget">
                          <span><i data-feather="shopping-bag"></i></span>
  
                          <div>
                            <h6>20000+</h6>
                            <p>فروشنده</p>
                          </div>
                        </div>
                      </div>
  
                      <div class="col-6 col-sm-4">
                        <div class="widget">
                          <span><i data-feather="shopping-cart"></i></span>
  
                          <div>
                            <h6>70000+</h6>
                            <p>سفارشات روزانه</p>
                          </div>
                        </div>
                      </div>
  
                      <div class="col-6 col-sm-4">
                        <div class="widget">
                          <span><i data-feather="tv"></i></span>
  
                          <div>
                            <h6>200M</h6>
                            <p>بازدید روزانه از صفحه</p>
                          </div>
                        </div>
                      </div>
  
                      <div class="col-6 col-sm-4">
                        <div class="widget">
                          <span><i data-feather="graph"></i></span>
  
                          <div>
                            <h6>80%</h6>
                            <p>رشد در سال</p>
                          </div>
                        </div>
                      </div>
  
                      <div class="col-6 col-sm-4">
                        <div class="widget">
                          <span><i data-feather="award"></i></span>
  
                          <div>
                            <h6>500+</h6>
                            <p>برترین مارک‌ها</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-5 order-1 order-lg-2">
                <div class="img-box">
                  <img class="img-fluid" src="/static/images/about-us/1.jpg" alt="Group  Photo" />
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- About Us Section End -->
  
        <!-- Review Section Start -->
        <section class="review-section about-us-review">
          <div class="container-lg">
            <div class="review-wrap">
              <div class="title-box">
                <h4 class="unique-heading">نظرات کاربران</h4>
                <span class="title-divider1"><span class="squre"></span><span class="squre"></span></span>
                <p>ظرافت تنها با لباسی که می پوشید مشخص نمی شود. این است که چگونه خود را حمل می کنید، چگونه صحبت می کنید، چه می خوانید.</p>
              </div>
  
              <div class="swiper review-slider">
                <div class="swiper-wrapper">
                  <!-- Slide Start -->
                  <div class="swiper-slide">
                    <div class="comment-box">
                      <div class="img-box">
                        <img src="/static/images/avatar/avatar.jpg" alt="avatar2" />
                      </div>
                      <div class="avatar-content">
                        <div class="name-box">
                          <div class="user-info">
                            <h5><i data-feather="user"></i> جیمی سی. باش</h5>
                            <span> <i data-feather="clock"></i>12 خرداد 1402 </span>
                          </div>
                          <div class="action-box ms-auto">
                            <span class="like"> <i class="like-btn" data-feather="thumbs-down"></i>23 </span>
                            <span class="like"> <i class="like-btn" data-feather="thumbs-up"></i>125 </span>
                          </div>
                        </div>
                        <p>
                          آستین های کوتاه خط A بالای زانو با جزییات پشمی با کشسانی قرمز با آستر صورتی ملایم. جزئیات چرم شانه متضاد رنگ کانتور شبح خیره کننده کار peplum.
                        </p>
  
                        <h5>طراح ارشد</h5>
                        <ul class="rating p-0">
                          <li>
                            <i class="fill" data-feather="star"></i>
                          </li>
                          <li>
                            <i class="fill" data-feather="star"></i>
                          </li>
                          <li>
                            <i class="fill" data-feather="star"></i>
                          </li>
                          <li>
                            <i class="fill" data-feather="star"></i>
                          </li>
                          <li>
                            <i data-feather="star"></i>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!-- Slide End -->
  
                  <!-- Slide Start -->
                  <div class="swiper-slide">
                    <div class="comment-box">
                      <div class="img-box">
                        <img src="/static/images/avatar/avatar4.jpg" alt="avatar2" />
                      </div>
                      <div class="avatar-content">
                        <div class="name-box">
                          <div class="user-info">
                            <h5><i data-feather="user"></i> علامت گذاری به عنوان جکنو</h5>
                            <span> <i data-feather="clock"></i>12 خرداد 1402 </span>
                          </div>
                          <div class="action-box ms-auto">
                            <span class="like"> <i class="like-btn" data-feather="thumbs-down"></i>35 </span>
                            <span class="like"> <i class="like-btn" data-feather="thumbs-up"></i>125 </span>
                          </div>
                        </div>
                        <p>
                          پانل‌های شیک ساختاریافته با ظاهری بی‌نقص مداد پشتی و برجسته. آستر کشسان خط سجاف بالای زانو با روکش ساتن شرابی زیپ کوچک مخفی
                          دکمه های ابریشم مصنوعی.
                        </p>
  
                        <h5>مشاور مد</h5>
                        <ul class="rating p-0">
                          <li>
                            <i class="fill" data-feather="star"></i>
                          </li>
                          <li>
                            <i class="fill" data-feather="star"></i>
                          </li>
                          <li>
                            <i class="fill" data-feather="star"></i>
                          </li>
                          <li>
                            <i class="fill" data-feather="star"></i>
                          </li>
                          <li>
                            <i data-feather="star"></i>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!-- Slide End -->
  
                  <!-- Slide Start -->
                  <div class="swiper-slide">
                    <div class="comment-box">
                      <div class="img-box">
                        <img src="/static/images/avatar/avatar5.jpg" alt="avatar2" />
                      </div>
                      <div class="avatar-content">
                        <div class="name-box">
                          <div class="user-info">
                            <h5><i data-feather="user"></i>زهرا کریمی</h5>
                            <span> <i data-feather="clock"></i>12 خرداد 1402 </span>
                          </div>
                          <div class="action-box ms-auto">
                            <span class="like"> <i class="like-btn" data-feather="thumbs-down"></i>25</span>
                            <span class="like"> <i class="like-btn" data-feather="thumbs-up"></i>123 </span>
                          </div>
                        </div>
                        <p>
                          پرفروش‌ترین جیب‌های برش دور کمر با ترکیب پنبه‌ای آبی سرمه‌ای با دوخت ترمه زیبا. کمد لباس شیک آستین بلند چین دار بافت پارچه مینی یقه آبی کبالت.
                        </p>
  
                        <h5>مدیرعامل اسلو</h5>
                        <ul class="rating p-0">
                          <li>
                            <i class="fill" data-feather="star"></i>
                          </li>
                          <li>
                            <i class="fill" data-feather="star"></i>
                          </li>
                          <li>
                            <i class="fill" data-feather="star"></i>
                          </li>
                          <li>
                            <i class="fill" data-feather="star"></i>
                          </li>
                          <li>
                            <i data-feather="star"></i>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                  <!-- Slide End -->
                </div>
                <div class="swiper-pagination"></div>
              </div>
            </div>
          </div>
        </section>
        <!-- Review Section End -->
  
        <!-- Team Section Start -->
        <section class="team-section">
          <div class="container-lg">
            <div class="title-box">
              <h4 class="unique-heading">با تیم ما آشنا شوید</h4>
              <span class="title-divider1"><span class="squre"></span><span class="squre"></span></span>
              <p>تیم ما برای کارش بهترین است که هر کدام مهارت‌های متفاوتی دارند، همه در کار بهترین هستند</p>
            </div>
  
            <div class="row gx-0 gy-4 gy-sm-5 gy-md-0 g-md-0 g-lg-1">
              <div class="col-6 col-md-3">
                <div class="member">
                  <div class="img-box">
                    <div class="bg-shape bg-theme-blue border-blue"><img src="/static/images/team/1.png" class="img-fluid" alt="member" /> </div>
                  </div>
                  <div class="content-box">
                    <h6 class="title-color">زیست شناس مورین</h6>
                    <p class="content-color">مدیر اجرایی</p>
                    <ul class="social">
                      <li>
                        <a target="_blank" href="https://www.facebook.com/">
                          <svg>
                            <use xlink:href="/static/icons/svg/social/sprite.svg#social-facebook"></use>
                          </svg>
                        </a>
                      </li>
                      <li>
                        <a target="_blank" href="https://www.linkedin.com/login">
                          <svg>
                            <use xlink:href="/static/icons/svg/social/sprite.svg#social-linkedin"></use>
                          </svg>
                        </a>
                      </li>
                      <li>
                        <a target="_blank" href="https://twitter.com/">
                          <svg>
                            <use xlink:href="/static/icons/svg/social/sprite.svg#social-twitter"></use>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-3">
                <div class="member">
                  <div class="img-box">
                    <div class="bg-shape bg-theme-yellow border-yellow"><img src="/static/images/team/2.png" class="img-fluid" alt="member" /></div>
                  </div>
                  <div class="content-box">
                    <h6 class="title-color">گلن پی موجیکا</h6>
                    <p class="content-color">مدیر اجرایی</p>
                    <ul class="social">
                      <li>
                        <a target="_blank" href="https://www.facebook.com/">
                          <svg>
                            <use xlink:href="/static/icons/svg/social/sprite.svg#social-facebook"></use>
                          </svg>
                        </a>
                      </li>
                      <li>
                        <a target="_blank" href="https://www.linkedin.com/login">
                          <svg>
                            <use xlink:href="/static/icons/svg/social/sprite.svg#social-linkedin"></use>
                          </svg>
                        </a>
                      </li>
                      <li>
                        <a target="_blank" href="https://twitter.com/">
                          <svg>
                            <use xlink:href="/static/icons/svg/social/sprite.svg#social-twitter"></use>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-3">
                <div class="member">
                  <div class="img-box">
                    <div class="bg-shape bg-theme-orange border-orange"><img src="/static/images/team/3.png" class="img-fluid" alt="member" /></div>
                  </div>
                  <div class="content-box">
                    <h6 class="title-color">مبلمان پتی</h6>
                    <p class="content-color">مدیر اجرایی</p>
                    <ul class="social">
                      <li>
                        <a target="_blank" href="https://www.facebook.com/">
                          <svg>
                            <use xlink:href="/static/icons/svg/social/sprite.svg#social-facebook"></use>
                          </svg>
                        </a>
                      </li>
                      <li>
                        <a target="_blank" href="https://www.linkedin.com/login">
                          <svg>
                            <use xlink:href="/static/icons/svg/social/sprite.svg#social-linkedin"></use>
                          </svg>
                        </a>
                      </li>
                      <li>
                        <a target="_blank" href="https://twitter.com/">
                          <svg>
                            <use xlink:href="/static/icons/svg/social/sprite.svg#social-twitter"></use>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col-6 col-md-3">
                <div class="member">
                  <div class="img-box">
                    <div class="bg-shape bg-theme-pink border-pink"><img src="/static/images/team/4.png" class="img-fluid" alt="member" /></div>
                  </div>
                  <div class="content-box">
                    <h6 class="title-color">جانی ام. لوپز</h6>
                    <p class="content-color">مدیر اجرایی</p>
                    <ul class="social">
                      <li>
                        <a target="_blank" href="https://www.facebook.com/">
                          <svg>
                            <use xlink:href="/static/icons/svg/social/sprite.svg#social-facebook"></use>
                          </svg>
                        </a>
                      </li>
                      <li>
                        <a target="_blank" href="https://www.linkedin.com/login">
                          <svg>
                            <use xlink:href="/static/icons/svg/social/sprite.svg#social-linkedin"></use>
                          </svg>
                        </a>
                      </li>
                      <li>
                        <a target="_blank" href="https://twitter.com/">
                          <svg>
                            <use xlink:href="/static/icons/svg/social/sprite.svg#social-twitter"></use>
                          </svg>
                        </a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Team Section End -->
  
        <!-- Service Section Start -->
        <section class="service-section2 about-service about-section">
          <div class="container-lg">
            <div class="title-box">
              <h4 class="unique-heading">خدمات ما</h4>
              <span class="title-divider1"><span class="squre"></span><span class="squre"></span></span>
              <p>ما انواع مختلفی از خدمات را برای محصول خریداری شده در سایت خود ارائه می دهیم</p>
            </div>
  
            <div class="row g-3 g-lg-4">
              <div class="col-md-6">
                <div class="service-box">
                  <div class="media">
                    <span class="svg-wrap">
                      <svg>
                        <use xlink:href="/static/icons/svg/service/_sprite.svg#truck"></use>
                      </svg>
                    </span>
                    <div class="media-body">
                      <h5>ما ارسال رایگان ارائه می دهیم</h5>
                      <span> رکورد ما به محصول تحویلی Whiting 4 تا 5 روز درب منزل</span>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="col-md-6">
                <div class="service-box">
                  <div class="media">
                    <span class="svg-wrap">
                      <svg>
                        <use xlink:href="/static/icons/svg/service/_sprite.svg#component"></use>
                      </svg>
                    </span>
                    <div class="media-body">
                      <h5>ما 10 روز ضمانت تعویض ارائه می دهیم</h5>
                      <span>به‌طور تضمینی، آسیب فیزیکی یا تعویض محصول قدیمی را شامل نمی‌شود </span>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="col-md-6">
                <div class="service-box">
                  <div class="media">
                    <span class="svg-wrap">
                      <svg>
                        <use xlink:href="/static/icons/svg/service/_sprite.svg#dollar"></use>
                      </svg>
                    </span>
                    <div class="media-body">
                      <h5>روش پرداخت با امنیت بالا ارائه کردیم</h5>
                      <span>ما استفاده از روش پرداخت امنیتی سطح بالا را ارائه می دهیم، هیچ کس دیوار آتش را نشکند </span>
                    </div>
                  </div>
                </div>
              </div>
  
              <div class="col-md-6">
                <div class="service-box">
                  <div class="media">
                    <span class="svg-wrap">
                      <svg>
                        <use xlink:href="/static/icons/svg/service/_sprite.svg#thum"></use>
                      </svg>
                    </span>
                    <div class="media-body">
                      <h5>ما بیش از 10000 سبک داریم</h5>
                      <span>همه منحصر به فرد هستند و با یکدیگر متفاوت هستند </span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </section>
        <!-- Service Section End -->
      </main>
      <!-- Main End -->
{% endblock %}