{% extends 'shared/layout.html' %}
{% load render_partial %}
{% load poll_extras %}
{% load custom_filters %}

{% block title %}
    لیست علاقه مندی
{% endblock %}

{% block content %}
<main class="main">
    <!-- Breadcrumb Start -->
    <div class="breadcrumb-wrap">
        <div class="banner">
            <img class="bg-img bg-top" src="/static/images/inner-page/banner-p.jpg" alt="banner" />
            <div class="container-lg">
                <div class="breadcrumb-box">
                    <div class="heading-box">
                        <h1>علاقمندی های من</h1>
                    </div>
                    <ol class="breadcrumb">
                        <li><a href="{% url 'home_page' %}">صفحه اصلی</a></li>
                        <li>
                            <a href="javascript:void(0)"><i data-feather="chevron-right"></i></a>
                        </li>
                        <li class="current"><a href="wishlist.html">علاقمندی ها</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
    <!-- Breadcrumb End -->

    <!-- Wishlist Section Start -->
    <section class="section-b-space wishlist-page">
        <div class="container-lg">
            <div class="row g-3 g-xxl-4 ratio_asos row-cols-2 row-cols-sm-3 row-cols-lg-4 row-cols-xl-5 row-cols-xxl-6">
                {% for item in favorite_items %}
                <div class="col">
                    <div class="product-card product-wishlist">
                        <div class="img-box">
                            <a href="{% url 'product_detail' item.product.slug %}" class="primary-img">
                                <img class="img-fluid bg-img" src="{{ item.product.image.url }}" alt="{{ item.product.name }}" />
                            </a>
                            <!-- Rating
                            <div class="rating">
                                <span>{{ item.product.rating }} <i data-feather="star"></i></span>
                                <span>{{ item.product.review_count }}</span>
                            </div> -->
                            <!-- Delete Button -->
                            <!-- پیشنهاد می‌شود از یک فرم برای حذف استفاده شود تا بتوانید {% csrf_token %} بکار ببرید -->
                            <form method="POST" action="{% url 'favorite_remove' item.pk %}" style="display:inline;">
                                {% csrf_token %}
                                <button type="submit" class="delete-button"><i data-feather="x"></i></button>
                            </form>
                        </div>
                        <div class="content-wrap">
                            <div class="content-box">
                                <a href="{% url 'product_detail' item.product.slug %}">
                                    <p>{{ item.product.brand }}</p>
                                    <h5>{{ item.product.title }}</h5>
                                    <span>{{ item.product.price|babel_decimal }} تومان</span>
                                </a>
                            </div>
                            <div class="mov-to-bag">
                                <a href="{% url 'product_detail' item.product.slug %}" class="btn btn-outline btn-sm">
                                    مشاهده جزئیات <i class="arrow"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
                {% empty %}
                    <p>محصولی در لیست علاقه‌مندی شما وجود ندارد.</p>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Wishlist Section End -->
</main>
{% endblock %}
