{% extends 'shared/layout.html' %}
{% block content %}
    <p>
        <body style="">
            <div class="container text-center">
                <div dir="rtl">
                    <h2>بازیابی کلمه عبور</h2>
                    <hr>
                    <p>کاربر گرامی ، جهت  بازیابی کلمه عبور حساب کاربری خود روی لینک زیر کلیک کنید</p>
                    <p>
                        <a href="http://localhost:8000{% url 'reset_password_page' active_code=user.email_active_code %}">فعالسازی
                            بازیابی کلمه عبور </a>
                    </p>
                </div>
                <div class="content-404">
                    <img src="images/404/404.png" class="img-responsive" alt="">
                    <h1><b>متأسفانـه</b> صفحه مورد نظـر شما یافت نشد!</h1>
                    <h2><a href="index.html">برو به صفحـه اصلی</a></h2>
                </div>
            </div>
        
            <script src="js/jquery.js"></script>
            <script src="js/price-range.js"></script>
            <script src="js/jquery.scrollUp.min.js"></script>
            <script src="js/bootstrap.min.js"></script>
            <script src="js/jquery.prettyPhoto.js"></script>
            <script src="js/main.js"></script>
        
        <a id="scrollUp" href="#top" style="display: none; position: fixed; z-index: 2147483647;"><i class="fa fa-angle-up"></i></a></body>    </p>
{% endblock %}