{% extends 'shared/layout.html' %}

{% block title %}فراموشی رمز عبور{% endblock %}

{% block content %}
<div class="main">
    <section class="page-body p-0">
        <div class="row g-0 ratio_asos">
            <div class="order-2 order-lg-1 col-lg-5">
                <div class="content-box">
                    <div>
                        <h5>فراموش کردن رمز عبور <span class="bg-theme-blue"></span></h5>
                        <p class="font-md content-color">شماره موبایل خود را وارد کنید تا کد تایید دریافت کنید.</p>

                        <form method="post" class="custom-form form-pill">
                            {% csrf_token %}
                            
                            <div class="input-box">
                                <label for="mobile">شماره موبایل</label>
                                <input class="form-control" type="text" required name="phone_number" id="mobile" />
                            </div>

                            <button type="submit" class="btn-solid rounded-pill line-none">ارسال کد تایید <i class="arrow"></i></button>
                        </form>
                        <a href="{% url 'login_page' %}" class="backto-link font-default theme-color">بازگشت به صفحه ورود</a>
                    </div>
                </div>
            </div>

            <div class="order-1 order-lg-2 col-lg-7">
                <div class="img-box">
                    <img class="bg-img" src="/static/images/inner-page/banner.jpg" alt="banner" />
                </div>
            </div>
        </div>
    </section>
</div>

{% endblock %}

{% block footer_references %}
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        {% if messages %}
            {% for message in messages %}
                Swal.fire({
                    icon: "{{ message.tags }}",
                    title: "{{ message }}",
                    confirmButtonText: "متوجه شدم",
                });
            {% endfor %}
        {% endif %}
    });
</script>
{% endblock %}