{% load static %}
{% load static %}
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<meta name="description" content="oslo" />
<meta name="keywords" content="oslo" />
<meta name="author" content="oslo" />

<link rel="icon" href="{% static 'images/favicon/favicon.png' %}" type="image/x-icon" />
<link rel="shortcut icon" href="{% static 'images/favicon/favicon.png' %}" type="image/x-icon" />
<link rel="manifest" href="{% static 'manifest.json' %}" />
<link rel="icon" href="{% static 'images/favicon/favicon.png' %}" type="image/x-icon" />
<link rel="apple-touch-icon" href="{% static 'images/favicon/favicon.png' %}" />
<meta name="theme-color" content="#0f8fac" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent" />
<meta name="apple-mobile-web-app-title" content="Oslo" />
<meta name="msapplication-TileImage" content="{% static 'images/favicon/favicon.png' %}" />
<meta name="msapplication-TileColor" content="#FFFFFF" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />

<!-- Google Jost Font -->
<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.g/static.com" crossorigin />
<link href="{% static 'fonts/fonts.googleapis.com/css2.css' %}" rel="stylesheet" />

<!-- Google Monsterrat Font -->
<link href="{% static 'fonts/fonts.googleapis.com/css2-4.css' %}" rel="stylesheet" />

<!-- Google Leckerli Font -->
<link href="{% static 'fonts/fonts.googleapis.com/css2-3.css' %}" rel="stylesheet" />

<!-- Bootstrap Css -->
<link id="rtl-link" rel="stylesheet" type="text/css" href="{% static 'css/vendors/bootstrap.css' %}" />

<!-- Swiper Slider Css -->
<link rel="stylesheet" type="text/css" href="{% static 'css/vendors/swiper-bundle.min.css' %}" />

<!-- Wow Animation css -->
<link rel="stylesheet" href="{% static 'css/vendors/wow-animate.css' %}" />

<!-- Style Css -->
<link id="change-link" rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />

<!-- SweetAlert2 CSS (از CDN خارج می‌شود، پس همانطور رها کنید) -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@11/dist/sweetalert2.min.css">

